<div class="flex">
  <div>
    <h1>Orderbook</h1>
    <div class="orderbook"></div>
  </div>
  <div>
    <h1>Matches</h1>
    <div class="matches"></div>
  </div>
  <div>
    <h1>Level2</h1>
    <div class="level2"></div>
  </div>
</div>