/* This file is for your main application CSS */
@import "./phoenix.css";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: #282828;
  color: white;
  font-size: 16px;
}

.matches {
  max-width: 400px;
  font-size: 0.9em;
}
.match {
  display: flex;
}
.match > * {
  flex: 1;
}
.buy {
  border-left: 5px solid red;
  padding-left: 5px;
}

.sell {
  border-left: 5px solid green;
  padding-left: 5px;
}