/* This file is for your main application CSS */
@import "./phoenix.css";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: #282828;
  background: #111;
  color: white;
  font-size: 12px;
  font-weight: bold;
  /* font-family: monospace;
  font-weight: 100; */
}

.matches {
  /* max-width: 400px; */
}
.match {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}
.match > * {
  flex: 1;
}
.buy {
  border-left: 5px solid rgb(255, 69, 69);
  padding-left: 5px;
}

.sell {
  border-left: 5px solid rgb(49, 255, 49);
  padding-left: 5px;
}

.matches-container {
  text-align: center;
}
.level2-container {
  text-align: right;
}

.level2-item {
  margin-top: 0px;
  margin-bottom: 0px;
}
.level2-item .time {
  font-size: 0.8em;
}

.level2-item.buy {
  border-left: 0;
  border-right: 5px solid rgb(255, 69, 69);
  padding-left: 0;
  padding-right: 5px;
}

.level2-item.sell {
  border-left: 0;
  border-right: 5px solid rgb(49, 255, 49);
  padding-left: 0;
  padding-right: 5px;
}


.flex {
  display: flex;
}
.flex > * {
  flex: 1;
}

.orderbook-spread {
  text-align: left;
  padding: 0.5em;
  padding-left: 2em;
}

.orderbook-item {
  position: relative;
  font-weight: bold;
  padding-left: 2em;
}

.orderbook-buy {
  color: rgb(255, 65, 65);
}
.orderbook-sell {
  color: rgb(50, 255, 50);
}

.bg-size {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: lightgrey;
  opacity: 0.1;
}
.orderbook-graph {
  height: 250px;
  width: 100%;
}
.orderbook-graph svg {
  width: 100%;
  height: 250px;
}

.bar.bid {
  fill: rgba(40, 193, 45, 0.8);
}

.bar.ask {
  fill: rgba(255, 0, 0, 0.8);
}

.bar:hover {
  fill: #337ab7;
}

text {
  fill: white;
}
.axis--x path {
  display: none;
}

.axis--y path {
  display: none;
}

body {
  padding: 2em 1em;
}

.blink {
  animation: blink .75s ease;
  transition: all .75s ease;
}

@keyframes blink {
  from {color: yellow;}
  to {color: white;}
}

h1, h2, h3, h4, h5, h5 {
  font-weight: bold;
}

.current-price {
  font-size: 5em;
  /* padding: 5rem 0; */
}

.pad {
  padding: 3rem;
}

.tar {
  text-align: right;
}