/* This file is for your main application CSS */
@import "./phoenix.css";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: #282828;
  color: white;
  font-size: 16px;
}

.matches {
  max-width: 400px;
  font-size: 0.9em;
}
.match {
  display: flex;
}
.match > * {
  flex: 1;
}
.buy {
  border-left: 5px solid red;
  padding-left: 5px;
}

.sell {
  border-left: 5px solid green;
  padding-left: 5px;
}

.flex {
  display: flex;
}
.flex > * {
  flex: 1;
}

.orderbook-item {
  position: relative;
  font-weight: bold;
  padding-left: 2em;
}

.orderbook-buy {
  color: red;
}
.orderbook-sell {
  color: green;
}

.bg-size {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: lightgrey;
  opacity: 0.1;
}